<h3>Cases</h3>
<div class="cases-header">
    <div *ngFor="let header of tableHeaders">{{header}}</div>
</div>
<div class="cases-body" *ngFor="let case of cases">
    <a class="nav-link" [routerLink]="['/cases', case.CaseID]">{{case.CaseID}}</a>
    <div>{{case.CaseNumber}}</div>
    <div>{{case.CaseName.trim()}}</div>
    <div>{{case.CaseCategoryID}}</div>
    <div>{{case.ItemCount}}</div>
    <div>{{case.Score}}</div>
    <div>{{toDate(case.AssignedOn) | date: 'medium'}}</div>
    <div>{{case.WorkFlowPositionID}}</div>
    <div>{{toDate(case.CreatedOn)}}</div>
    <div>{{case.CreatedByUserID}}</div>
    <div>{{case.FollowUpFlag}}</div>
    <div>{{case.SARTypeID}}</div>
    <div>{{case.ItemAmount | currency}}</div>
    <div>{{case.ConfigurationName}}</div>
    <div>{{case.ClientCaseLabel1}}</div>
    <div>{{case.ClientCaseLabel2}}</div>
    <div>{{case.ClientCaseLabel3}}</div>
    <div>{{case.ClientCaseLabel4}}</div>
    <div>{{case.ClientCaseLabel6}}</div>
    <div>{{case.CaseViewTabGroupID}}</div>
    <div>{{case.CaseTypeID}}</div>
    <div>{{case.LinkedCaseID}}</div>
    <div>{{case.IsLocked ? 'YES' : 'NO'}}</div>
</div>
